.add-box{
    border: 2px solid purple;
    margin-top: 50px;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.tracks{
	border: 3px solid rgb(5, 161, 141);
    margin-top: 50px;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}