.top {
    height: 8vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.979);
    position: fixed;
    top: 0px;
    z-index: 5;
    display: flex;
	justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: -15px;
}